In [83]:
import pandas as pd

In [85]:
data = {
    "name": ["John", "Anna", "Peter", "Linda"],
    "location": ["New York", "Paris", "Berlin", "London"],
    "age": [24, 13, 53, 33]
}

In [87]:
df = pd.DataFrame(data)

In [88]:
mask = df["age"] > 25
print(mask)

0    False
1    False
2     True
3     True
Name: age, dtype: bool

In [89]:
filtered_df = df[mask]
print(filtered_df)

    name location  age
2  Peter   Berlin   53
3  Linda   London   33

In [90]:
mask = (df["age"] > 25) & (df["location"] == "London")
print(mask)

0    False
1    False
2    False
3     True
dtype: bool

### Equality (`==`) Mask

In [91]:
mask_equal_location = df['location'] == 'London'
print("Mask for location == 'London':")
print(mask_equal_location)

mask_equal_age = df['age'] == 24
print("\nMask for age == 24:")
print(mask_equal_age)

Mask for location == 'London':
0    False
1    False
2    False
3     True
Name: location, dtype: bool

Mask for age == 24:
0     True
1    False
2    False
3    False
Name: age, dtype: bool

### Inequality (`!=`) Mask

In [92]:
mask_not_equal_location = df['location'] != 'London'
print("Mask for location != 'London':")
print(mask_not_equal_location)

mask_not_equal_age = df['age'] != 24
print("\nMask for age != 24:")
print(mask_not_equal_age)

Mask for location != 'London':
0     True
1     True
2     True
3    False
Name: location, dtype: bool

Mask for age != 24:
0    False
1     True
2     True
3     True
Name: age, dtype: bool

In [93]:
filtered_df_equal_location = df[mask_equal_location]
print("\nDataFrame filtered by location == 'London':")
display(filtered_df_equal_location)

DataFrame filtered by location == 'London':

    name location  age
3  Linda   London   33